/* Darrell Oller Typography */
/* typography for 640x280 screen Samsung S6 Active Landscpe */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  overflow: hidden;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

.splash {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}
p {
    color: black;
    font-size: 0.75em;
    line-height: 0.6em;
}
table {
  border-collapse: collapse;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  font-size:1em;
  line-height: 1em;
}
caption {
  background-color: transparent;
  color: darkblue;
  font-size: 1.3em;
  font-weight:bold;
  line-height: 1.3em;
}
th {
  background-color: darkblue;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  color: gold;
  font-size: .7em;
  font-weight:bold;
  line-height: 1.0em;
}
td {
  background-color: white;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  color: darkblue;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1.0em;
  text-align: center;
}
button {
  font-size: 1em;
  font-weight: bold;
  line-height: 0.8em;
}
.outer {
  background-color: transparent;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  height: 98%;
  left: 1%;
  position: absolute;
  top: 0;
  width:99%;
}
.debug_framed {
  border-color: magenta;
  border-style: solid;
  border-width: 2px;
} 
.prod_frame {
  border-color: cyan;
  border-style: solid;
  border-width: 2px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 100px #000000;
   -webkit-box-shadow: inset 0 0 100px #000000;
   box-shadow:         inset 0 0 100px #000000;
}
.shadow1 .content {
  background-color: #DDD;
  padding: 200px;
  position: relative; /* This protects the inner element from being blurred */
}
.CSSIndicator {
  background-color: transparent;
  color: darkblue;
  display: inline-block;
  font-size: 0.6em;
  height: 1em;
  left: 60%;
  position: absolute;
  text-align: right;
  top: 0;
  width: 39%;
}  
