.framed_div {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}
.game_info_div {
    height: 7%;
    left: 0;
    position: absolute;
    top: 0;
    width: 99%;
}
.shotchart_title {
    font-size: 24px;
    font-weight: bold;
}
.button_div {
    height: 92%;
    left: 0;
    position: absolute;
    top: 7%;
    width: 18%;
}
.court_div {
    height: 92%;
    left: 19%;
    position: absolute;
    top: 7%;
    width: 80%;
}
.param_button {
    color: darkblue;
    font-family : "Verdana,sands-serif";
    font-size : 18px;            
    font-weight : bold;  
    height: 32px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 170px;
}
.team_button {
    left: 2%;
    top: 1%;
}
.opp_button {
    left: 52%;
    top: 1%;
}
.divider_HR {
    background-color: darkblue;
    color: darkblue;
    height: 2px;
    left: 1%;
    position: absolute;
    top: 8%;
    width: 98%;
}
button:disabled, button[disabled]{
    color: grey;
    font-family : "Verdana,sands-serif";
    font-size : 18px;            
    font-weight : bold;  
    height: 32px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 170px;
}
.player_param_button {
    color: darkblue;
    font-family : "Verdana,sands-serif";
    font-size : 18px;            
    font-weight : bold;  
    height: 32px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 170px;
}
.court_title {
    color: darkblue;
    font-size: 1em;
    font-weight: bold;
    left: 40px;
    position: absolute;
    top: -10px;
    width: 90%;
}
.game_court {
    background-image: url('../../images/half_court_514x448.jpg');
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 448px;
    left: 15%;
    position: absolute;
    top: 7%;
    width: 514px;
}
.stats_div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.basket {
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 1px;
    left: 257px;
    margin: 0;
    position: absolute;
    top: 352px;
    width:1px;
}
.ft_spot {
    background-color: red;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    height: 1px;
    left: 257px;
    margin: 0;
    position: absolute;
    top: 214px;
    width:1px;
}
.home_button {
  height:auto;
  left:87%;
  position: absolute;
  top: 0;
  width:12%;
  z-index: 10;
}
.toggle_stats {
  border-color: darkblue;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:darkblue;
  font-size: 1em;
  height:40px;
  left: 5px;
  position: absolute;
  top: 90%;
}
.selected_button {
    border-color: red;
    border-style: solid;
    border-width: 3px;
    color: red;
    font-family : "Verdana,sands-serif";
    font-weight : bold;  
    text-transform: uppercase;
}
.basket_dot {
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin: 0;
    opacity: .7;
    position: absolute;
    width:20px;

}
.basket_dot_made {
    background-color: green;
    border-color: darkgreen;
    color: yellow;
}
.basket_dot_missed {
    background-color: red;
    border-color: darkred;
    color: yellow;
}
.statline_table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    left: 15%;
    position: absolute;
    width: 60%;
}
.statline_table td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    text-align:center;
}
.statline_table tr:nth-child(even){
    background-color: #b6f0f9;
    padding-bottom: 0;
    padding-top: 0;
}
.statline_table tr:nth-child(odd) {
        padding-bottom: 0;
        padding-top: 0;
}
.statline_table  thead {
    background-color: darkblue;
    color: gold;
    font-weight:bold;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.qtr_select {
    background-color: lightgrey;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
    font-weight: bold;
    height: 260px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 110px;
}
.btn_qtr {
    font-size: 22px;
    height:35px;
    left:15px;
    position:absolute;
    top:25px;
    width:80px;
}
.qtr_title {
    color: darkblue;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}
.TSP_formula {
    border-color: grey;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 30%;
    position: absolute;
    top: 55%;
    width: 30%;
}
.qtr0 {
    top: 55px;
}
.qtr1 {
    top: 95px;
}
.qtr2 {
    top: 135px;
}
.qtr3 {
    top: 175px;
}
.qtr4 {
    top: 215px;
}